<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline title-separator">
				<li class="align-middle"><%= image_tag "close-box.png" , class: "img-responsive", title: 'Ballicons 2 Free by Pixel Buddha is licensed under CC BY 3.0'%></li>
				<li class="align-middle"><h3 class="no-margin">Package Details</h3></li>
			</ul>
		</div>
		<div class="col-xs-12">
			<dl class="dl-horizontal">
				<dt class="text-uppercase">Reference Number</dt>
				<dd><%= @package.ref_number%></dd>
				<dt class="text-capitalize">description</dt>
				<dd><%= @package.description%></dd>
				<dt class="text-capitalize">From</dt>
				<dd><%= @package.sender.username%></dd>
				<dt class="text-capitalize">To</dt>
				<dd><%= @package.receiver.username%></dd>
				<dt class="text-capitalize">status</dt>
				<dd class="text-capitalize"><%= @package.status_human%></dd>
				<dt class="text-capitalize">weight</dt>
				<dd><%= @package.weight%> kg</dd>
				<dt class="text-capitalize">height</dt>
				<dd><%= @package.height%> cm</dd>
				<dt class="text-capitalize">width</dt>
				<dd><%= @package.width%> cm</dd>
				<dt class="text-capitalize">depth</dt>
				<dd><%= @package.depth%> cm</dd>
				<dt class="text-capitalize">value</dt>
				<dd><%= @package.value%> Bsf</dd>
				<dt class="text-capitalize">agency</dt>
				<dd><%= @package.agency.location%></dd>
				<dt class="text-capitalize">Shipping Cost</dt>
				<dd><%= @package.shipping_cost%> Bsf</dd>
				<dt class="text-capitalize">Date Added</dt>
				<dd><%= @package.date_added%></dd>
				<dt class="text-capitalize">Date Arrived</dt>
				<dd><%= @package.date_arrived%></dd>
				<dt class="text-capitalize">Date Delivered</dt>
				<dd><%= @package.date_delivered%></dd>
			</dl>
		</div>
	</div>
</div>


