<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4">	
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-mail"}) do |f| %>
				<h1 class="text-uppercase"><%= t("login") %></h1>
				<br>
				<div class="form-group">
					<label for="email" class="text-uppercase"><%= t("email") %></label>
					<%= f.email_field :email, autofocus: true, class: "form-control input-lg"%>
				</div>
				
				<div class="form-group">
					<label for="password" class="text-uppercase"><%= t("password") %></label>
					<%= f.password_field :password, autocomplete: "off", class: "form-control input-lg"%>
				</div>

				
			  	<% if devise_mapping.rememberable? -%>
			    	<div class="form-group text-right">
			    	<%= f.check_box :remember_me %> <%= f.label :remember_me, t('remember_me') %>
			    	</div>
			  	<% end -%>

				<div class="form-group">
					<%= f.submit t("login"), class: "no-radius btn btn-green btn-block btn-lg text-uppercase"%>
				</div>
				<div class="form-group text-right">
					<%= link_to(t("forgot")+" "+t("your")+" "+t("password")+"?", new_user_password_path,class: 'text-capitalize') %> 
				</div>
			<% end %>
		</div>
	</div>
</div>