<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="list-unstyled list-inline title-separator">
				<li class="align-middle"><%= image_tag "money.png" , class: "img-responsive img-sm", title: 'Keynote and PowerPoint icons by Magnus Emil Liisberg Helding is licensed under Free for commercial use'%></li>
				<li class="align-middle"><h3 class="no-margin">Rates</h3></li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="table-responsive">
				<table class="table table-hover" id="table-package">
					<thead>
						<tr>
							<th class="text-capitalize">#</th>
							<th class="text-capitalize">package rate</th>
							<th class="text-capitalize">cost rate</th>
							<th class="text-capitalize">created at</th>
							<th class="text-capitalize">updated at</th>
							<th class="text-capitalize">status</th>
						</tr>
					</thead>
					<tbody>
						<% @rates.each_with_index do |rate,i| %>
						<tr>
							<td><%= i+1 %></td>
							<td><%= rate.package %></td>
							<td><%= rate.cost %></td>
							<td><%= rate.created_at %></td>
							<td><%= rate.updated_at %></td>
							<td class="text-center text-capitalize">
								<% if rate.is_active?%>
								<div class="bg-green">Active</div>
								<%else%>
								<%=link_to("Activate", rate_path(rate, :status => 1), :method => :put, data: {confirm: "Are you sure you want to activate this rates?"}, class: 'btn btn-block btn-xs btn-black')%>
								<%end%>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="text-right">
				<%= paginate @rates %>	
			</div>
		</div>
	</div>
</div>