<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3">	
			<%= form_for(@rate, url: rate_index_path(@rate), html: {class: "form-mail"}) do |f| %>
			  <% devise_flash %>

				<h1>Create new rates</h1>
				<br>

			  	<div class="form-group">
			  		<%= f.label :package,'package rate' , class: "text-uppercase"%>
			    	<%= f.text_field :package, autocomplete: "off", required: true, class: "form-control input-lg"  %>
				</div>

				<div class="form-group">
			  		<%= f.label :cost ,'cost rate', class: "text-uppercase"%>
			    	<%= f.text_field :cost, autocomplete: "off", required: true, class: "form-control input-lg"  %>
				</div>

			  	<div class="form-group">
			  		<%= f.submit "Add rates", class: "no-radius btn btn-green btn-block btn-lg text-uppercase"%>
			  	</div>
			<% end %>
		</div>
	</div>
</div>
