<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mailcourier</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic,300italic,300' rel='stylesheet' type='text/css'>
  	<%= csrf_meta_tags %>
   	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% if current_page?(root_path) %>
	<div class="navbar-full navbar-white">
<%else%>
	<div class="navbar-full navbar-green">
<%end%>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<nav class="navbar" role="navigation">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					      <a class="navbar-brand" href="<%= root_path%>"><strong>Mail</strong>courier</a>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="menu">
					      <ul class="nav navbar-nav navbar-right">		 
					      	<% if  user_signed_in? %>
					      		<%if current_user.is_admin?%>
					      		<li>
						      		<a id="rates" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black">Rates</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="rates">
										<li class="text-capitalize">
											<%= link_to "Rates List", rate_index_path, class: 'text-capitalize' %> 
										</li>
										<li class="text-capitalize">
											<%= link_to "Create Rates", new_rate_path, class: 'text-capitalize' %>
										</li>
									</ul>
					      		</li>

					      		<li>
					      			<a id="Operator" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black">Operator</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="Operator">
										<li class="text-capitalize">
											<%= link_to "Operators List", users_admin_index_path, class: 'text-capitalize' %>
										</li>
										<li class="text-capitalize">
											<%= link_to "Add Operator", new_users_admin_path, class: 'text-capitalize' %>
										</li>
									</ul>
					      		</li>
					      		<%end%>
					      		<li>
					      			<a id="Packages" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black">Packages</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="Packages">
										<li class="text-capitalize">
											<%= link_to(t('packages list'), package_index_path, class: 'text-capitalize')%>
										</li>
					      				<%if !current_user.is_member?%>
										<li class="text-capitalize">
											<%= link_to(t('new_package'), new_package_path, class: 'text-capitalize')%> 
										</li>
					      				<%end%>
									</ul>
					      		</li>
					      	<li>
						      	<a id="lang" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black text-uppercase"><%=I18n.locale%> <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="lang">
									<li class="text-capitalize"><%= link_to(t('english'), locale: :en )%></li>
									<li class="text-capitalize"><%= link_to(t('spanish'), locale: :es )%></li>
								</ul>
							</li>
					      	<li>
						      	<a id="usernameLabel" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black"><%=current_user.username%> <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="usernameLabel">
									<li class="text-capitalize">
										<%= link_to(t('profile'), edit_user_registration_path)%> 
									</li>
									<li class="text-capitalize">
										<%= link_to(t('logout'), destroy_user_session_path, :method => :delete)%> 
									</li>
								</ul>
							</li>
					      	<%else%>
						        <li class="text-uppercase"><a href="/users/sign_in"><%= t('login') %></a></li>
						        <li class="text-uppercase"><a  href="/users/sign_up"><%= t('sign_up') %></a></li>
						        <li>
							      	<a id="lang" role="button" data-toggle="dropdown" data-target="#" href="" class="text-black text-uppercase"><%=I18n.locale%> <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="lang">
									<li class="text-capitalize"><%= link_to(t('english'), locale: :en )%></li>
									<li class="text-capitalize"><%= link_to(t('spanish'), locale: :es )%></li>
									</ul>
								</li>
					      	<%end%>
					      	
					      </ul>
					    </div><!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
		</div>
	</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render :partial => "shared/messages" %>
		</div>
	</div>
</div>

<%= yield %>
</body>
</html>
